<a href="https://colab.research.google.com/github/sri6703/ML/blob/main/pandasobjects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
info = pd.Series([2,3,7,11,3])
info

0     2
1     3
2     7
3    11
4     3
dtype: int64

In [ ]:
info = pd.Series([23,12,54,7,4],index=['de','rt','ty','wq','io'])
info

de    23
rt    12
ty    54
wq     7
io     4
dtype: int64

In [ ]:
dictionary={'apple':'red','orange':'orange','lemon':'yellow' }
fruit=pd.Series(dictionary)
fruit

apple        red
orange    orange
lemon     yellow
dtype: object

In [ ]:
fruit['apple']

'red'

In [ ]:
dicti={'tomato':'red','papaya':'orange','ladies finger':'green'}
veggie=(dicti)
veggie

{'tomato': 'red', 'papaya': 'orange', 'ladies finger': 'green'}

In [ ]:
data=pd.DataFrame({'fruit':fruit,'veggie':veggie})
data

                fruit  veggie
apple             red     NaN
ladies finger     NaN   green
lemon          yellow     NaN
orange         orange     NaN
papaya            NaN  orange
tomato            NaN     red

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
states = pd.DataFrame({'populations': population,'area': area})
states

            populations    area
California     38332521  423967
Texas          26448193  695662
New York       19651127  141297
Florida        19552860  170312
Illinois       12882135  149995

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states['populations']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: populations, dtype: int64

In [ ]:
data=pd.DataFrame({'population':population})
data

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [ ]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
pd.DataFrame(population , columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135